@{ ViewBag.Title = "Projections"; }

@using Reinforced.Lattice.Mvc
@using Reinforced.Lattice.Templates
@model Reinforced.Lattice.CaseStudies.Projections.Models.HomeIndexViewModel

<div class="row">
    <div class="col-sm-6">
        <h3 class="text-center">Table with <code>.ProjectDataWith</code></h3>
        <div id="projectionTable"></div>
    </div>
    <div class="col-sm-6">
        <h3 class="text-center">Table with <code>.MappedFrom</code></h3>
        <div id="mappedFromTable"></div>
    </div>
</div>

@section scripts {

    @{ Html.RenderTemplates("lt", "Lattice_Templates_Bootstrap"); }

    @Model.ProjectionTable.InitializationScript("projectionTable", "window.$$projectionTable")
    @Model.MappedFromTable.InitializationScript("mappedFromTable", "window.$$mappedFromTable")
}